/* Brand colors */
:root {
    --brand-orange: #fb7f03;
    --brand-purple: #a931bd;
}

body {
    /*font-family: 'Varela Round', sans-serif;*/
    font-family: 'Varela', sans-serif;
}

.logo {
    /* style logo */

    width: auto;
    display: flex;
    max-width: 400px;
    margin-left: inherit;
    margin-right: inherit;
}

.dropdown-toggle {
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
}

main .form-control {
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

.margin-offset {
    margin-top: 7em;
}
.sticky {
    position: fixed;
    width: 100%;
}

main {
    /* scroll horizontally as needed */
    overflow-x: auto;

    /* center contents */
    text-align: center;
}

main img
{
    /* constrain images on small screens */
    max-width: 100%;
}

.newStudentBlocker {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: " ";
    background-color: rgba(0, 0, 0, 0.2);
}

#newStudentPopup {
    position: fixed;
    top: 10%;
    max-width: max-content;
    min-width: min-content;
    margin-left: 10%;
    margin-right: 10%;
}