{% extends "layout.html" %}

{% block title %}
Home
{% endblock %}

{% block main %}

<!-- Search bar -->
<div class="row mb-3">
    <div class="col">
        <form action="{{ url_for('search') }}" class="form" autocomplete="off" method="POST" accept-charset="utf-8">
            <div class="input-group">
                <input class="form-control" name="search_searchbar" type="search" placeholder="Search..." autofocus>
                <select class="custom-select" name="search_class" required>
                    <option value="" selected disabled hidden>Search in...</option>
                    {% for head in headers %}
                    <option value="{{ head }}">{{ head }}</option>
                    {% endfor %}                                
                </select>
                <div class="input-group-append">
                    <button class="btn btn-outline-success" type="submit"><i class="fa fa-search"></i></button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col d-flex justify-content-center">
        <table id="table" class="table table-light table-striped display">
            <thead>
                <tr>
                    {% for head in headers %}
                    <th>{{ head }}</th>
                    {% endfor %}
                </tr>
            </thead>
            {% if records %}
            <tbody>
                {% for record in records %}
                <tr>
                    {% for value in record %}
                    <td>{{ record[value] }}</td>
                    {% endfor %}
                    <td>
                        <a href="{{ url_for('delete_entry', entry_id=record['ID'] )}}">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            {% endif %}
        </table>
    </div>
</div>

<div class="row">
    <div class="col d-flex justify-content-center">
        <button class="btn btn-outline-primary" id="newStudentBtn">Add student</button>
    </div>
</div>

<!-- TAKE 3 -->
<div class="row justify-content-center" id="newStudentPopup" style="display: none">
    <div class="newStudentBlocker" id="newStudentBlocker"></div>

    <div class="col-md">
        <div class="card mt-3">
            <div class="card-header">
                <h3 class="mt-2">New Student</h3>
            </div>
            
            <div class="card-body">
                <form method="POST" action="{{ url_for('new') }}">
                    <div class="form-row mb-4">
                        <div class="col input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">First name</span>
                            </div>
                            <input type="text" class="form-control" name="new_firstname" required autofocus>
                        </div>
                        <div class="col input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Last name</span>
                            </div>
                            <input type="text" class="form-control" name="new_lastname" required>
                        </div>
                    </div>                   
                    
                    <div class="form-row mb-4">
                        <div class="col input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">E-mail</span>
                            </div>
                            <input type="email" class="form-control" name="new_email_1" required>
                        </div>
                        <div class="col input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">2nd e-mail</span>
                            </div>
                            <input type="email" class="form-control" placeholder="Optional" name="new_email_2">                            
                        </div>
                    </div>
                    
                    <div class="form-row mb-4">
                        <div class="col input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Phone number</span>
                            </div>
                            <input type="tel" class="form-control" placeholder="0123456789" name="new_phone_1" required>
                        </div>
                        <div class="col input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">2nd phone number</span>
                            </div>
                            <input type="tel" class="form-control" placeholder="Optional" name="new_phone_2">
                        </div>
                    </div>
                    
                    <div class="form-row mb-4">
                        <div class="col input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">Birth Date</div>
                            </div>
                            <input id="birthDatePicker" type="date" min="2000-01-01" max="2020-01-01" class="form-control" name="new_birth" required>
                        </div>
                        <div class="col input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">Group</div>
                            </div>
                            <select class="custom-select" name="new_class" required>
                                {% for student_class in session.student_classes %}
                                <option value="{{ student_class }}">{{ student_class }}</option>
                                {% endfor %}                                
                            </select>
                        </div>
                    </div>
                    
                    <div class="form-row mb-4">
                        <div class="col">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">Showtime</div>
                                </div>
                                <select class="custom-select" name="new_showtime" required>
                                    {% for show in showtime %}
                                    <option value="{{ show }}">{{ show }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text" style="width: 60px;">Rol</div>
                                </div>
                                <input type="text" class="form-control" name="new_role" required>
                            </div>
                        </div>
                        <div class="col input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">Notes</div>
                            </div>
                            <textarea class="form-control" name="new_notes"></textarea>
                        </div>
                    </div>
                    <hr>
                    <div class="form-row">
                        <div class="col input-group">
                            <a href="/" class="btn btn-outline-danger btn-block">Cancel</a>
                        </div>
                        <div class="col input-group">
                            <input type="submit" class="btn btn-outline-success btn-block" value="Save">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div> 
{% endblock %}