<!DOCTYPE html>

<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Stylesheets -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Varela+Round">
        <link rel="stylesheet" href="/static/css/styles.css">
        <title>Musical'sCool! - {% block title %}{% endblock %}</title>
    </head>

    <body>
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light sticky">
            <a class="navbar-brand logo" href="/">
                <img class="logo" src="/static/images/musicalscool-logo.png" alt="">
            </a>
            <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbar" data-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar">

            <!-- Navbar content that will collapse on mobile -->
                <ul class="navbar-nav ml-auto">
                    {% if not session.user_id %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown">Login</a>
                            
                            <div class="dropdown-menu">
                                <form class="form-horizontal" autocomplete="off" action="/login" method="POST">
                                    <input class="form-control login" type="text" name="login_username" placeholder="Username..." autofocus>
                                    <input class="form-control login" type="password" name="login_password" placeholder="Password...">
                                    <input class="btn btn-primary" type="submit" name="submit" value="Login"> 
                                </form>
                            </div>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown">Sign Up</a>
                            
                            <div class="dropdown-menu">
                                <form class="form-horizontal" autocomplete="off" action="/register" method="POST">
                                    <input class="form-control register" type="text" name="register_username" placeholder="Username..." autofocus>
                                    <input class="form-control register" type="password" name="register_password" placeholder="Password...">
                                    <input class="form-control register" type="password" name="register_confirm" placeholder="Confirm...">
                                    <input class="btn btn-primary" type="submit" name="submit" value="Sign up"> 
                                </form>
                            </div>
                        </li>    
                    {% else %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown">{{ session["username"] }}</a>
                            
                            <div class="dropdown-menu">
                                <ul>
                                    <li class="nav-item">
                                        <p>User action 1</p>
                                    </li>
                                    <li class="nav-item">
                                        <p>User action 2</p>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/logout">Logout</a>
                                    </li>                                   
                                </ul>
                            </div>
                        
                        
                        
                        </li>             
                    {% endif %}
                    <div class="search-container">
                        <form class="form-inline my-2 my-lg-0">
                            <input class="form-control mr-sm-2" type="text" placeholder="Search..." aria-label="Search">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                </ul>
            </div>            
        </nav>

        <!-- Flashes messages at page top -->
        {% if get_flashed_messages() %}
            <header>
                <div class="alert alert-primary border text-center" id="flash" role="alert" style="z-index: -1;">
                    {{ get_flashed_messages() | join(" ") }}
                </div>
            </header>
        {% endif %}

        <main>
            <div class="container mx-auto margin-offset">
                {% block main %}{% endblock %}
            </div>
        </main>

        <!-- DELETE LATER -->
        <div class="container" style="height: 1000px"></div>
        <p class="text-center">Some text to enable scrolling.</p>

        <!-- JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="/static/js/script.js"></script>
    </body>