{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}
<div class="row">
    <div class="col">
        <p>On this page you can edit your username or change your password.</p>
    </div>
</div>
{% block main %}
<div class="container px-5">
    <div class="row d-flex justify-content-center">
        <div class="col col-sm-8">
            <div class="card mt-3">

                <div class="card-header">
                    <h3>Edit profile</h3>
                </div>
        
                <div class="card-body">
                    <!-- User data form -->
                    <form id="userForm" method="POST" action="{{ url_for('user') }}">
                        <div class="form-row mb-3">
                            <div class="col input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Username</span>
                                </div>
                                <input type="text" name="user_username" value="{{ session.username }}" class="form-control" autofocus>
                            </div>
                        </div>
                        
                        <div class="form-row mb-3">
                            <div class="col input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Current password</span>
                                </div>     
                                <input type="password" name="user_old_pw" placeholder="Current password" class="form-control" >
                            </div>
                        </div>
                        
                        <div class="form-row mb-3">
                            <div class="col input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">New password</span>
                                </div>
                                <input type="password" name="user_new_pw" placeholder="New password" class="form-control">
                            </div>
                        </div>

                        <div class="form-row mb-3">
                            <div class="col input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Confirm</span>
                                </div>
                                <input type="password" name="user_new_confirm" placeholder="Confirm" class="form-control">
                            </div>
                        </div>

                        <hr class="separator">
                        
                        <div class="form-row">
                            <div class="col input-group">
                                <a href="{{ url_for('user') }}" class="btn btn-outline-danger btn-block">Cancel</a>
                            </div>
                            <div class="col input-group">
                                <input type="submit" class="btn btn-outline-success btn-block" value="Update">
                            </div>
                        </div>                

                    </form>    
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
